.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.header__title {
  font-size: 16px;
  color: gray;
}

.header__button {
  background-color: transparent;
  border: none;
  color: gray;
  cursor: pointer;
}

.info {
  font-size: 21px;
  text-transform: uppercase;
  margin-bottom: 12px;
  font-weight: 600;
  color: gray;
}

.info__type {
  font-size: 21px;
  text-transform: uppercase;
  margin-bottom: 12px;
  font-weight: 600;
}
.input__volume {
  display: flex;
  column-gap: 5px;
  margin-bottom: 12px;
}

.input__volume input {
  border-radius: 5px;
  border: 1px solid gray;
}
.buttons {
  display: flex;
  column-gap: 12px;
  justify-content: flex-end;
}

.button__cansel {
  padding: 5px 7px;
  color: #fff;
  background-color: dimgrey;
  border: none;
  border-radius: 5px;
}

.button__ok {
  padding: 5px 14px;
  color: #fff;
  background-color: rgb(85, 170, 240);
  border: none;
  border-radius: 5px;
}

.body__info {
  display: flex;
  justify-content: space-around;
}
