* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  padding: 20px;
  border-bottom: 1px solid gray;
  margin-bottom: 20px;
  display: flex;
  gap: 20px;
}
.navbar__item {
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 720px;
  justify-content: center;
  align-items: center;
}

.timer {
  font-size: 32px;
  color: rgb(110, 110, 126);
  margin-bottom: 25px;
}

.trading__select {
  padding: 8px 40px;
  font-size: 24px;
  color: rgb(82, 82, 94);
  border-radius: 5px;
  margin-bottom: 25px;
}

.trading__buttons {
  display: flex;
  column-gap: 35px;
}

.block {
  display: flex;
  flex-direction: column;
  font-size: 32px;
  font-weight: 600;
  cursor: pointer;
}

.button {
  border: none;
  font-size: inherit;
  font-weight: inherit;
  background-color: transparent;
}

.sell {
  color: red;
}

.buy {
  color: rgb(0, 184, 0);
}

.archive__tabel {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  margin: 0 auto;
  border: 1px solid gray;
}

th,
td {
  padding: 5px 10px;
  width: 100px;
  text-align: center;
}
thead {
  border-bottom: 1px solid gray;
  margin-bottom: 20px;
  font-size: 16px;
  color: gray;
}

.side__col {
  width: 54px;
  font-weight: 600;
  text-transform: capitalize;
}
/* .price__col {
  width: 25px;
} */

.timestamp__col {
  width: 200px;
}
